# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# SQLite database file
*.db

# macOS / Windows files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
*.log

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
